* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 210px;
    row-gap: 40px;
}


#increase {
    width: 40px;
    height: 40px;
    color: red;
    background-color: antiquewhite;
    font-size: 20px;
    border: 1px solid black;

}


#decrease {
    width: 40px;
    height: 40px;
    color: blue;
    background-color: antiquewhite;
    font-size: 30px;
    border: 1px solid black;

}

.user.active{
    color: red;
    background-color: grey;


} 


.box__content {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.card {
    width: calc(100%/4);
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    position: relative;
}

.card .card1 {
    width: 100%;
    height: 300px;
    object-position: center;
    cursor: pointer;
    object-fit: cover;
    background-color: bisque;
    transition: 0.5s;
}

.card .card-t1 {
    position: absolute;
    color: white;
    left: 30px;
    bottom: 20px;
    text-transform: uppercase;
    font-size: 27px;
    opacity: 0;
    z-index: -2;
}


.card.active {
    width: 400px;
}


.card.active .card-t1 {
    opacity: 1;
    z-index: 1;
} 